@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Press+Start+2P&display=swap");
html {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.emkauno {
  font-family: "Press Start 2P", sans-serif;
}
